
ion-col {
    text-align: center;
  }
  ion-grid{
    max-width:1024px;   //your max size here
  }
#main{
    transition: opacity 2s ease-out;
    opacity: 0;
}
.disabled{
  pointer-events: none;

}

.scene {
    width: 100%;
    height: 200px;/**/
    /*border: 1px solid #CCC;*/
    perspective: 300px;
    transition: opacity 2s ease-out;
    opacity: 0;
  }
  .shown{
    opacity: 1 !important;
  }
  .card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    position: relative;
  }
  
  .card.is-flipped {
    transform: rotateY(180deg);
  }
  
  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 40px;
    color: gray;
    text-align: center;
    font-weight: bold;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .card__face--front {
   
  }
  
  .card__face--back {
    
    transform: rotateY(180deg);
  }
  

