<ion-header>
  <ion-toolbar>
    <ion-icon src="/assets/icon/logo.svg" slot="start" style="zoom:2.5;padding-left:5px"></ion-icon>
    <ion-title color="gray">Cuzzle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-progress-bar color="primary" [value]="Tint/maxTint"></ion-progress-bar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <div id="hack">
          <canvas id="puzzle" #puzzle style="position: absolute; left: 0; top: 0; z-index: 0;"></canvas>
          <canvas id="tries" #tries style="position: absolute; left: 0; top: 0; z-index: 1;"></canvas>
        </div>
      </ion-col>
      <ion-col size="6">
        <canvas id="pixels" #pixels style="position: absolute; left: 0; top: 0; z-index: 0;"></canvas>
        <canvas id="solution" #solution style="position: absolute; left: 0; top: 0; z-index: 1;"></canvas>
      </ion-col>
    </ion-row>
    <ion-row class="scene">
      <ion-col size="12" class="card">
        <div class="card__face card__face--front">
      <ion-item style="--background:cyan">
        <ion-range #cyan min="0" max="100" step="2" style="--bar-background:white;--bar-background-active:cyan;--bar-height:80px">
          <ion-icon size="small" color="clear" slot="start" name="sunny"></ion-icon>
          <ion-icon slot="end" name="sunny"></ion-icon>
        </ion-range>
      </ion-item>

     
      <ion-item style="--background:magenta">
        
        <ion-range #magenta min="0" max="100" step="2" style="--bar-background:white;--bar-background-active:magenta;--bar-height:80px">
          <ion-icon size="small" slot="start" name="sunny"></ion-icon>
          <ion-icon slot="end" name="sunny"></ion-icon>
        </ion-range>
      </ion-item>

      <ion-item style="--background:yellow">
        <ion-range #yellow min="0" max="100" step="2" style="--bar-background:white;--bar-background-active:yellow;--bar-height:80px">
          <ion-icon size="small" slot="start" name="sunny"></ion-icon>
          <ion-icon slot="end" name="sunny"></ion-icon>
        </ion-range>
      </ion-item>

      <ion-item style="--background:black">
        <ion-range #black min="0" max="100" step="2" style="--bar-background:white;--bar-background-active:black;--bar-height:80px">
          <ion-icon color="light" size="small" slot="start" name="sunny"></ion-icon>
          <ion-icon color="light" slot="end" name="sunny"></ion-icon>
        </ion-range>
      </ion-item>

        <ion-button size="large" shape="round" expand="block" color="light" (click)="doTry()"><ion-icon size="large" name="brush-outline"></ion-icon></ion-button>
        </div>
        <div class="card__face card__face--back">
            HOla caracola
        </div>
      </ion-col>
    </ion-row>
    </ion-grid>
</ion-content>
